body {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-origin: inherit;
}
@media all and (min-width: 481) and (max-width: 768px) {
    body {
        background-image: url('../images/back.jpg');
        background-size: contain;
    }
}
@media all and (max-width: 480px) {
    body {
        background-image: url('../images/back.jpg');
        background-size: contain;
    }
}
fieldset {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: rgba(246, 11, 11, 0.932);
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    width: 40%;
    height: 40%;
    padding: 3% 2%;
    margin: auto;
}
legend {
    text-align: center;
}
button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: rgba(246, 11, 11, 0.886);
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    margin: auto;
}
input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: rgba(246, 11, 11, 0.886);
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    margin: auto;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    margin: 0;
    padding: 0;
}
.infoGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 1fr / repeat(2, 1fr);
    grid-gap: 1rem;
}
.characterInfo {
    display: flex;
}
.leftGrid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.leftGrid h2 {
    display: block;
    line-height: 4rem;
    font-size: 2rem;
}
.rightGrid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img {
    width: 65%;
    height: auto;
    object-fit: contain;
}